<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>-->
<script src="https://kit.fontawesome.com/a4e7cef51e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img src="/img/logo-mercado-liebre.svg">
        </div>

        <div class="imput">
            <p>Buscar productos, marcas</p>
        <i class="fa-solid fa-magnifying-glass lupa"></i>
    </div>
    <div class="manito">
    <i class="fa-solid fa-hand-holding-dollar"></i>
        <p class="titulares">Compra en cuotas y sin tarjeta de credito</p>
        </div>
        <div>
            <img src="/img/img-home-banner.jpg">
        </div>
        <navbar>
        <ul>
            <li><a href="ofertas">Ofertas</a></li>             
            <li><a href="tiendas_oficiales">Tiendas Oficiales</a></li>
            <li><a href="vender">Vender</a></li>
            <li><a href="ayuda">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="registro">Creá tu Cuenta <i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="ingresa">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="mis_compras">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
           
        </ul>
    </navbar>
<div class="menu-paty"> 
    <i id="paty" class="fa-solid fa-bars paty"></i>
</div>
   
    </header>
<main>
<section>
    <h3>Basado en tu ultima visita</h3>
    <article>
        <img src="/img/img-cafetera-moulinex.jpg">
        <p>$6.770</p>
        <P>40% OFF</P>
        <p>Cafetera Moulinex</p>
    </article>
    <article>
        <img src="/img/img-macbook-pro-2019.jpg">
        <p>$230.000</p>
        <P>20% OFF</P>
        <p>MacBook Pro 2019</p>
    </article>
    <article>
    <img src="/img/img-samsung-galaxy-s10.jpg">
    <p class="precio">$70.500</p>
    <P class="dd">10% OFF</P>
    <p class="dd">Samsung Galaxy s10</p>
</article>
<article>
<img src="/img/img-tv-samsung-smart.jpg">
<p class="precio">$23.200</p>
<P class="dd">50% OFF</P>
<p class="dd">SmartTV Samsung 43"</p>
</article>
</section>
<section>
<p class="titulares">Seccion de Ofertas</p>
    <article>
        <img src="/img/img-cafetera-moulinex.jpg">
        <p class="precio">$6.770</p>
        <P class="dd">40% OFF</P>
        <p class="dd">Cafetera Moulinex</p>
    </article>
    <article>
        <img src="/img/img-macbook-pro-2019.jpg">
        <p class="precio">$230.000</p>
        <P class="dd">20% OFF</P>
        <p class="dd">MacBook Pro 2019</p>
    </article>
    <article>
    <img src="/img/img-samsung-galaxy-s10.jpg">
    <p class="precio">$70.500</p>
    <P class="dd">10% OFF</P>
    <p class="dd">Samsung Galaxy s10</p>
</article>
<article>
<img src="/img/img-tv-samsung-smart.jpg">
<p class="precio">$23.200</p>
<P class="dd">50% OFF</P>
<p class="dd">SmartTV Samsung 43"</p>
</article>
</section>
</main>
<footer>
<section class="footer">
    <i  class="icono fa-solid fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p class="textofooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en<br>
        puntos de pago. ¡Y siempre es seguro!</p>
        <i class="icono fa-solid fa-gift"></i>
        <h3>Envio gratis desde $2500</h3>
        <p class="textofooter">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de <br>
        productos. Es un beneficio de Mercado Puntos</p>
        <i class="icono fa-solid fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p class="textofooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,<br>
        por que estas siempre prtegido.</p>
        <h3>Copyrigth© 1999-2020 Mercado Liebre S.R.L</h3>
</section>
</footer>    
</body>
</html>